body {
  background-color: #2d2d2d;
  color: white;
}
header {
  background-color: #202020;
  
  height: 90px; 
  width: 100%;
  position:fixed;
  top: 0;  
}
.icon {
  border-radius: 100%;
  margin: 20px;
  float: left;
}
* {
  margin: 0;
  padding:0;
}
header h1 {
  padding-top: 20px;
}
.container1{
  text-align: center;
  margin-top: 150px;
  line-height: 35px;
  letter-spacing: 7px;
}
.container2 {
  background-color: #202020;
  margin-right: 200px;
  margin-left: 30px;
  padding: 20px;
  border-radius: 20px;
}
.activity {
  margin-left: 30px;
  padding-bottom:0px;
  margin-top: 50px;
}
.member {
  float: left;
  text-align: center;
}
.member img {
  border-radius: 100%;
}
